---
Checks: >
  *,
  -llvmlibc-*,
  -android-cloexec-*,
  -hicpp-braces-around-statements,
  -readability-braces-around-statements,
  -misc-unused-parameters,
  -cppcoreguidelines-*,
  -fuchsia-*,
  -google-*,
  -llvm-*,
  -modernize-*,
  -readability-magic-numbers,
  -altera-*,
  -cert-*,
  -concurrency-*,
  -portability-*,
  -bugprone-*,
  -clang-analyzer-security.insecureAPI.*

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: none
